<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Search_Serv</servlet-name>
        <servlet-class>Search_Serv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Borrower_Serv</servlet-name>
        <servlet-class>Borrower_Serv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Check_Serv</servlet-name>
        <servlet-class>Check_Serv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Check_In_Serv</servlet-name>
        <servlet-class>Check_In_Serv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Check_In_Update</servlet-name>
        <servlet-class>Check_In_Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Check_In_Serv_Main</servlet-name>
        <servlet-class>Check_In_Serv_Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fine_Serv</servlet-name>
        <servlet-class>Fine_Serv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fine_Payment_Serv</servlet-name>
        <servlet-class>Fine_Payment_Serv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pay_Fine_Serv</servlet-name>
        <servlet-class>Pay_Fine_Serv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search_Serv</servlet-name>
        <url-pattern>/Search_Serv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Borrower_Serv</servlet-name>
        <url-pattern>/Borrower_Serv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check_Serv</servlet-name>
        <url-pattern>/Check_Serv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check_In_Serv</servlet-name>
        <url-pattern>/Check_In_Serv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check_In_Update</servlet-name>
        <url-pattern>/Check_In_Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check_In_Serv_Main</servlet-name>
        <url-pattern>/Check_In_Serv_Main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fine_Serv</servlet-name>
        <url-pattern>/Fine_Serv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fine_Payment_Serv</servlet-name>
        <url-pattern>/Fine_Payment_Serv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pay_Fine_Serv</servlet-name>
        <url-pattern>/Pay_Fine_Serv</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
